<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" image>
    <div class="container">
 
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SPORT <sub>𝒻𝑜𝓇 𝐿𝐼𝐹𝐸 </sub></a>
        <button
            class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
            type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        href="#portfolio">Event</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        href="#contact">Contact</a></li>

                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        routerLink="/login">Login</a></li>
            </ul>
        </div>
        
    </div>
</nav>
