<div class="container">
<h1 class="mt-5">Add new Event</h1>

<div class="row">

  
<form [formGroup]="form">
  <div class="form-group">
    <label>Title:*</label>
    <input type="text" class="form-control" formControlName="title">
    <br>

  </div>

  <div class="form-group">
    <label>Description:*</label>
    <input type="text"  class="form-control" formControlName="description">
    <br>

  </div>

  <button class="btn btn-success" (click)="save()" >
    Save
  </button>
</form>
</div>
</div>