<div class="col-md-4" *ngIf='pChild?.title?.includes(eventname) || eventname == undefined || pChild?.description?.includes(eventname)'>
    <div class="card" style="width: 18rem;">
      <img src="../../{{pChild.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ pChild.title }}</h5>
        <p class="card-text"> Description: {{pChild.description}}</p>
        {{pChild.participate}}
        <button  class="btn btn-success" style="float: right" (click)="participateClick()">
          Participate
        </button>
        </div>
    </div>
  </div>

  