<div class="container">
    <h3 class="mt-5">Liste des contact</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of contact">
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.message}}</td>
            <td>    
            </td>
          </tr>
        </tbody>
    </table>
    </div> 
      