<div class="container">
    <h1 class="mt-5">Update Event</h1>
    
    <div class="row">
    
      
    <form [formGroup]="form">
      <div class="form-group">
        <label>Title:*</label>
        <input type="text" class="form-control" formControlName="title">
        <br>
    
      </div>
    
      <div class="form-group">
        <label>Description:*</label>
        <input type="text"  class="form-control" formControlName="description">
        <br>
    
      </div>
      <button class="btn btn-success" (click)="Back()" >
        Annuler
      </button>    
      <button class="btn btn-success" (click)="update()" >
        Update
      </button>
    </form>
    </div>
    </div>