<div class="container mt-3 mb-3">
    <input type="text" placeholder="Rechercher..." name="eventname" class="form-control" [(ngModel)]="eventName">
</div>


<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="card-deck">
            <app-events *ngFor="let  event of events" [pChild]="event"  [eventname]="eventName" (participate)="participateEvent($event)">
            </app-events>
        </div>
    </div>
    <td>
        <button (click)="logOut()" class="btn btn-danger mr-2">Log Out</button>
        
      </td>
</section>