<div class="container">
<h3 class="mt-5">Liste des events</h3>
<button style="float:right" class="btn btn-success float-right" (click)="addEvent()" >Ajouter</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of list">
        <td>{{event.id}}</td>
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>
          <button (click)="deleteEvent(event)" class="btn btn-danger mr-2">Delete</button>
          <button (click)="updateEvent(event.id)" class="btn btn-warning mr-2">Update</button>
        </td>
      </tr>
    </tbody>
</table>
<td>
  <button (click)="logOut()" class="btn btn-danger mr-2">Log Out</button>
  
</td>
</div> 
  